.hotels {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: $primary;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: $base-padding;
  @include lg {
    padding: $base-padding $base-padding * 4;
  }

  &__discount {
    font-size: clamp(calc($font-xs * 0.7), 10vw, calc($font-sm * 0.7));
    position: absolute;
    background-color: $primary-variant;
    box-shadow: 10px 15px 15px darken($primary, 9);
    transform: rotate(45deg);
    border-radius: 100%;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    right: -100px;
    top: -100px;
    padding: 30px;

    @include lg {
      font-size: clamp($font-sm, 10vw, $font-base);
      height: 400px;
      width: 400px;
      right: -200px;
      top: -200px;
      padding: 70px;
    }
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $primary;
    margin-bottom: 40px;
  }

  &__title {
    display: flex;
    gap: 20px;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: clamp($font-base, 10vw, $font-5xl);
    font-weight: 900;
  }

  .code {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    @include lg {
      flex-direction: row;
    }
    &__name {
      font-weight: 900;
      width: 100%;
      margin: 0 auto;
      @include lg {
        width: 90px;
        margin: 0;
        margin-right: 140px;
      }
    }
    &__body {
      &-value {
        font-weight: 900;
        text-decoration: underline;
      }

      &-more-info {
        font-style: italic;
        font-size: clamp($font-base, 10vw, $font-xl);
      }
    }
  }
  .discount {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    @include lg {
      flex-direction: row;
    }
    &__name {
      font-weight: 900;
      width: 100%;
      margin: 0 auto;
      @include lg {
        width: 90px;
        margin: 0;
        margin-right: 140px;
      }
    }
    &__body {
      &-value {
        font-weight: 900;
        text-decoration: underline;
      }

      &-more-info {
        font-style: italic;
        font-size: clamp($font-base, 10vw, $font-xl);
      }
      &-list {
        margin-top: 10px;
        list-style-position: outside;
        font-size: clamp($font-base, 10vw, $font-xl);
      }
    }
  }

  .website {
    display: flex;
    flex-direction: column;
    @include lg {
      flex-direction: row;
    }
    &__name {
      font-weight: 900;
      margin: 0 auto;
      width: 100%;
      @include lg {
        width: 90px;
        margin: 0;
        margin-right: 140px;
      }
    }
    &__value {
      font-size: clamp($font-base, 10vw, $font-lg);
    }
  }

  .sub_hotel {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-top: 40px;

    &__content {
      display: flex;
      flex-direction: row;
      gap: 10px;
      border-top: 2px solid $primary-variant;
      padding-top: 20px;
      flex-wrap: wrap;
      justify-content: center;

      @include lg {
        justify-content: space-between;
      }
    }
    &__name {
      font-size: clamp($font-base, 10vw, $font-3xl);
      font-weight: 900;
      text-transform: uppercase;
      width: 100%;
    }
    &__website {
      font-size: clamp($font-base, 10vw, $font-lg);
      display: flex;
      gap: 10px;
      .name {
        font-weight: 900;
      }
    }
    &__indication {
      border-radius: 20px;
    }
  }
}
