.mySwiper {
  max-width: 100vw;
  width: 100%;
  /* margin: -15px !important; */
  height: 400px;
  align-items: center;
  justify-content: center;
  border-radius: $base-border-radius;
  background-color: transparent;

  .swiper-wrapper {
    /* opacity: 0; */
    position: relative;

    .swiper-slide {
      /*  opacity: 0; */
      background-color: transparent;
      height: 100%;
      z-index: 99;
      .subtitle {
        padding: 20px;
        z-index: 1;
        position: relative;
      }
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      background-color: lighten(yellow, 9);
      &-active {
        background-color: $primary;
      }
    }
  }
}
