@import "./_partials/hotel.module.scss";

.booking {
  text-align: center;
  /*  font-size: clamp($font-base, 10vw, $font-3xl); */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: $base-padding * 4 $base-padding;
  margin-top: 83px;

  @include lg {
    padding: $base-padding $base-padding * 5;
    width: 100%;
    text-align: left;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: clamp($font-5xl, 10vw, $font-8xl);
    font-weight: 900;
    color: $title-text;
    /*   font-size: clamp($font-base, 10vw, $font-4xl) !important; */
  }

  &__desc {
    color: $title-text;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 80%;
    margin: 0 auto;
    font-size: clamp($font-base, 10vw, $font-xl);
    @include lg {
      display: flex;
      flex-direction: row;
      text-align: center;
    }
  }
}
