.where {
  padding: $base-padding * 4 $base-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  font-size: clamp($font-lg, 10vw, $font-2xl);
  box-shadow: -10px -11px 40px black;
  color: $font-color;

  &__bg {
    &-svg {
      background-color: $primary;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 1;
      transform: scale(1);
      object-fit: contain;
      height: 100%;
      @include sm {
        width: 100%;
      }
      path {
        opacity: 0.5;
        fill: color-mix(in srgb, $primary 80%, black);
      }
    }

    & > img {
      object-fit: cover;

      z-index: 0;
    }
  }

  &__names {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: clamp($font-lg, 10vw, $font-6xl);
  }
  &__girasoli {
    height: 100%;
    width: 100%;

    .imageGira {
      height: 160px;
      width: 160px;
      margin: 0 auto;
    }
  }

  &__title {
    width: 100%;
    text-align: center;
    z-index: 10;
    font-size: clamp($font-lg, 10vw, $font-9xl);
  }

  &__date {
    font-size: $font-5xl;
    z-index: 10;
  }
  &__remain {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    z-index: 10;
    width: 100%;
    padding: 0;
    @include lg {
      padding: $base-padding $base-padding * 16;
    }
    &-date {
      padding: 20px;
      border: 2px solid $background;
      font-size: $font-2xl;
      z-index: 10;
      text-align: center;
    }
  }

  &__desc {
    padding: $base-padding * 4 $base-padding;
    text-align: center;
    z-index: 10;
    @include lg {
      padding: $base-padding * 4 $base-padding * 20;
    }

    &-break {
      margin-top: 20px;
    }
  }

  &__call_to_action {
    z-index: 1;
    display: flex;
    flex-direction: column;

    @include lg {
      flex-direction: row;
    }
    gap: 20px;
  }
}
