.hero {
  height: calc(100vh);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  //padding: $base-padding * 2 $base-padding * 4;

  .message {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    color: white;
    z-index: 10;
    margin-top: 80px;

    .creative {
      font-weight: 900;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      @include roboto;
      /*  margin-bottom: -40px; */
    }
    .solution {
      /*  font-weight: 900; */
      @include shadowIntoLight;
      position: absolute;
      top: 120px;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: $hero-text;

      .date {
        font-size: clamp($font-lg, 10vw, $font-4xl);
      }
      .name {
        font-size: clamp($font-5xl, 10vw, $font-8xl);
        font-weight: 900;
        margin-top: -15px;
      }
      @include lg {
        .date {
          color: $second-bg;
        }
        transform: translate(-70%, 45%);
        color: $hero-text;
      }
    }
  }

  &__button {
    margin-top: $base-margin * 2;
  }
  &__bg {
    height: calc(100vh);
    width: 100%;
  }
}
