.hero {
  min-height: calc(100vh - 84px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //padding: $base-padding * 2 $base-padding * 4;

  .message {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: $font-7xl;
    color: white;
    z-index: 10;
    margin-top: 80px;

    .creative {
      font-weight: 900;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      @include roboto;
      /*  margin-bottom: -40px; */
    }
    .solution {
      font-weight: 900;
      @include shadowIntoLight;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include sm {
        transform: translate(-50%, 190%);
      }
    }

    .slogan {
      margin-top: $base-margin * 2;
      font-size: $font-lg;
    }
  }

  &__button {
    margin-top: $base-margin * 2;
  }
  &__bg {
    height: calc(100vh - 84px);
    width: 100%;
    object-fit: cover;
    object-position: top;

    /* position: absolute;
    left: 0;
    top: 0; */
    /* filter: grayscale(1) contrast(1.5); */
  }
}
