.break {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  &-svg {
    margin: 20px;
    color: $on-primary;
    fill: $on-primary;
    z-index: 10;
  }

  &::before,
  &::after {
    display: inline-block;
    content: "";
    border-top: 0.1rem solid $on-primary;
    width: 5rem;
    z-index: 10;
  }

  &-svg-orange {
    margin: 20px;
    color: $primary !important;
    fill: $primary !important;
    z-index: 10;
  }

  &::before,
  &::after {
    display: inline-block;
    content: "";
    border-top: 0.1rem solid $primary !important;
    width: 5rem;
    z-index: 10;
  }
}
