// reset

@import "./style/index.module.scss";
@import "./components/NavbarMain/Navbar/navbar.module";
@import "./components/Buttons/button.module";
@import "./components/ProgressBar/progressbar.module";
@import "./components/Logo/logo.module";
@import "./components/Footer/footer.module";
@import "./components/FollowLine/followLine.module";
@import "./components/SectionsTitle/sectionTitle.module";
@import "./components/Card/card.module";
@import "./components/Swiper/customSwiper.module";
@import "./components/Event/event.module";
@import "./components/AttachmentBg/attachmentBg.module";
@import "./components/HeroPages/heroPages.module";
@import "./components/Accordion/accordion.module";
@import "./components/UnorderedList/unorderedList.module";
@import "./components/Socials/socials.module";
@import "./components/Tab/tab.module";
@import "./components/Break/break.module";
@import "./components/Title/title.module";
@import "./components/InputField/inputField.module";

/* SECTIONS */
@import "./sections/hero/hero.module";
@import "./sections/Where/where.module";
@import "./sections/Invitation/invitation.module";
@import "./sections/Church/church.module";
@import "./sections/Place/place.module";
@import "./sections/Receiving/receiving.module";
@import "./sections/Confirm/confirm.module";
@import "./sections/Iban/iban.module";
@import "./sections/thanks/thanks.module";

/* PAGES */
@import "./app/\(routes\)/about/about.module";
@import "./app/\(routes\)/contacts/contacts.module";
@import "./app/\(routes\)/pricing/pricing.module";
@import "./app/\(routes\)/dreamTeam/dreamTeam.module";
.home {
  position: relative;
}

.bg-light {
  background-color: lighten($background, 4);
}

.padding-top-0 {
  padding-top: 0;
}
