// reset

@import "./style/index.module.scss";
@import "./components/NavbarMain/Navbar/navbar.module";
@import "./components/Buttons/button.module";
@import "./components/Logo/logo.module";
@import "./components/Footer/footer.module";
@import "./components/FollowLine/followLine.module";
@import "./components/AttachmentBg/attachmentBg.module";
@import "./components/HeroPages/heroPages.module";
@import "./components/Break/break.module";
@import "./components/Title/title.module";
@import "./components/InputField/inputField.module";
@import "./components/CountDown/countDown";

/* SECTIONS */
@import "./sections/hero/hero.module";
@import "./sections/where2/where.module";
@import "./sections/invitation/invitation.module";
@import "./sections/church/church.module";
@import "./sections/confirm/confirm.module";
@import "./sections/booking/booking.module";
@import "./sections/thanks/thanks.module";

/* PAGES */
@import "./\(routes\)/visitPlace/visitPlace.module";
@import "./\(routes\)/visitRestaurant/visitRestaurant.module";
@import "./\(routes\)/place/place.module";
@import "./\(routes\)/gift/gift.module";
@import "./\(routes\)/receiving/receiving.module";
.home {
  position: relative;
}

.bg-light {
  background-color: lighten($background, 4);
}

.padding-top-0 {
  padding-top: 0;
}
