.team__container {
  /* opacity: 0; */
  background-color: transparent;
  width: 100%;
  z-index: 1;
  height: 400px;
  position: relative;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    padding: 20px;
    z-index: 1;
    position: relative;
    font-weight: 900;
  }
  /* .text {
      & > * {
        padding: 20px;
        z-index: 1;
        position: relative;
        font-weight: 900;
      }
    } */

  .team__description {
    /*  opacity: 0; */
    position: absolute;
    z-index: 9;
    bottom: 40px;
    width: 80%;

    border-radius: $base-border-radius;
    backdrop-filter: blur(0.7rem);
    padding: $base-padding;

    .name {
      font-weight: 900;
      font-size: $font-2xl;
    }
  }
  .image__container {
    height: 100%;
    width: 100%;
    z-index: 9;
    position: relative;
    border-radius: $base-border-radius;

    & > img {
      border-radius: $base-border-radius;
      position: absolute;
      object-fit: cover;
      object-position: top;
      top: 0;
      left: 0;
      z-index: -1;
      filter: grayscale(1) contrast(0.9);
    }
  }

  & > img {
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: grayscale(1) contrast(0.9);
  }
}
