.cardTestimonial {
  height: 100%;
  border-radius: $base-border-radius;
  background-color: lighten($background, 4);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding: $base-padding * 4 $base-padding * 2;
  position: relative;
  overflow: hidden;

  &__doublequotes {
    color: #ff5c5c;
    height: 50px;
    width: 50px;
    font-size: $font-8xl;
    display: flex;
    align-items: start;
    top: 0px;
    position: absolute;
  }
  &__bio {
    display: flex;
    border-top: 1px solid rgba($primary, 0.3);
    padding-top: 20px;
    width: 100%;

    &-image {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      position: relative;

      & > img {
        border-radius: 100%;
        padding: 4px;
        border: 1px solid $primary;
        object-fit: cover;
        position: relative;
      }
    }
    &-info {
      margin-left: 10px;
    }

    &-name {
      font-weight: 900;
    }
  }
}
