.ubicacion {
  padding: $base-padding * 4 $base-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 83px;
  background: $second-bg;
  color: $title-text;

  &__title {
    font-size: clamp($font-lg, 10vw, $font-8xl);
    font-weight: 900;
    margin-bottom: 60px;
  }

  @include lg {
    flex-direction: column;
    width: 100%;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    @include lg {
      padding: $base-padding $base-padding * 24;

      flex-direction: row;
    }

    &-church {
      height: 300px;
      width: 100%;
      position: relative;

      &__img {
        object-fit: cover;
        width: 100%;
        border-radius: 20px;
      }
    }

    &-title {
      text-transform: uppercase;
      font-size: clamp($font-xl, 10vw, $font-4xl);
      line-height: 1;
      width: 100%;
      text-align: center;
      color: #585757;

      @include lg {
        width: 50%;
        display: flex;
        align-items: end;
        &::after {
          content: "";
          height: 1px;
          width: 100%;
          background-color: $title-text;
          display: block;
          margin-bottom: 6px;
          margin-left: 10px;
        }
      }
    }

    &-cont {
      &-def {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: $title-text;
        text-align: center;
        font-size: clamp($font-lg, 10vw, $font-2xl);
        width: 100%;

        @include lg {
          text-align: left;
          width: 50%;
        }
      }
    }
    &-map {
      margin-top: 30px;
      width: 100%;
      height: 300px;
      border-radius: 20px;
    }
  }
}

.receiving {
  padding: $base-padding * 4 $base-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: $second-bg;
  color: $title-text;

  &__title {
    font-size: clamp($font-lg, 10vw, $font-8xl);
    font-weight: 900;
    margin-bottom: 60px;
  }

  @include lg {
    flex-direction: column;
    width: 100%;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    @include lg {
      padding: $base-padding $base-padding * 24;

      flex-direction: row;
    }

    &-church {
      height: 300px;
      width: 100%;
      position: relative;

      &__img {
        object-fit: cover;
        width: 100%;
        border-radius: 20px;
      }
    }

    &-title {
      text-transform: uppercase;
      font-size: clamp($font-xl, 10vw, $font-4xl);
      line-height: 1;
      width: 100%;
      text-align: center;
      color: #585757;

      @include lg {
        width: 50%;
        display: flex;
        align-items: end;
        &::after {
          content: "";
          height: 1px;
          width: 100%;
          background-color: $title-text;
          display: block;
          margin-bottom: 6px;
          margin-left: 10px;
        }
      }
    }

    &-cont {
      &-def {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: $title-text;
        text-align: center;
        font-size: clamp($font-lg, 10vw, $font-2xl);
        width: 100%;

        @include lg {
          text-align: left;
          width: 50%;
        }
      }
    }
    &-map {
      margin-top: 30px;
      width: 100%;
      height: 300px;
      border-radius: 20px;
    }
  }
}

/* 
.places {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: $base-padding;
  background-color: $second-bg;
  margin-top: 83px;
  @include lg {
    padding: $base-padding $base-padding * 4;
  }

  &__title {
    display: flex;
    gap: 20px;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: clamp($font-base, 10vw, $font-5xl);
    font-weight: 900;
    color: $title-text;
  }

  .code {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    @include lg {
      flex-direction: row;
    }
    &__name {
      text-transform: uppercase;
      width: 100%;
      margin: 0 auto;
      color: $title-text;
      font-size: clamp($font-base, 10vw, $font-2xl);
      @include lg {
        width: 90px;
        margin: 0;
        margin-right: 140px;
      }
    }
    &__body {
      &-code {
        font-weight: 900;
      }
      &-more-info {
        font-style: italic;
        font-size: clamp($font-base, 10vw, $font-xl);
      }

      .listItem {
        &__price {
          font-weight: 700;
        }
      }
    }
  }

  .sub_hotel {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-top: 40px;

    &__content {
      display: flex;
      flex-direction: row;
      gap: 10px;
      border-top: 2px solid $primary-variant;
      padding-top: 20px;
      flex-wrap: wrap;
      justify-content: center;

      @include lg {
        justify-content: space-between;
      }
    }
    &__name {
      font-size: clamp($font-base, 10vw, $font-3xl);
      font-weight: 900;
      text-transform: uppercase;
      width: 100%;
    }
    &__website {
      font-size: clamp($font-base, 10vw, $font-lg);
      display: flex;
      gap: 10px;
      .name {
        font-weight: 900;
      }
    }
    &__indication {
      border-radius: 20px;
    }
  }
}
 */
