.fixedBg {
  /* background-image: url("../../../public/img/programmer.jpg"); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 25%;
  width: 100%;
  width: 80%;
  @include lg {
    background-size: cover;
    background-position: 70% 40%;
  }
}

/* 
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;

  @include lg {
    background-position: 0 22%;
    object-fit: cover;
  } */
