@import "./_partials/visitPlace.module.scss";

.visitValencia {
  &__title {
    width: 100%;
    text-align: center;
    font-size: clamp($font-lg, 10vw, $font-7xl);
    font-weight: 900;
  }
}

.form {
  width: 100%;
  min-height: 100%;
  border: 1px solid red;
}
