@import "./_partials/visitEat.module.scss";

.visitValencia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $primary-variant;
  margin-top: 83px;
  &__tour {
    padding: $base-padding * 4 $base-padding;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #faf9f8;
  }
  &__eat {
    padding: $base-padding * 4 $base-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #faf9f8;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: clamp($font-6xl, 10vw, $font-9xl);
    font-weight: 900;
    color: $title-text;
  }
}

.form {
  width: 100%;
  min-height: 100%;
}
